In [ ]:
1+1

2

In [ ]:
3*67576

202728

In [ ]:
# Write a program to find the area of triangle.

base = 1.25
height = 6.12
area = 0.5 * base * height
print("Area of Triangle with base=", base, "and height=", height, "is",area )

Area of Triangle with base= 1.25 and height= 6.12 is 3.825

In [ ]:
name = "Darshan"
print(name)

Darshan

In [ ]:
type(name)

str

In [ ]:
name = 100
type(name)

int

In [ ]:
name = 2.9789
type(name)

float

In [ ]:
name = 3 +868j
type(name)

complex

In [ ]:
print(name)

(3+868j)

In [ ]:
name = input()
print("Name entered is:",name)

7234785348
Name entered is: 7234785348

In [ ]:
a = float(input()) # typecasting
b = float(input())
c = a + b
print(c)

39.87678
65.76
105.63678

In [ ]:
a = input()
print(a)
print(type(a))

4-9j
4-9j
<class 'str'>

In [ ]:
name = "Darshan"
print(name)
print(type(name))

Darshan
<class 'str'>

In [ ]:
name = "d"
print(name)
print(type(name))

d
<class 'str'>

In [ ]:
name = 'Darshan'
print(name)
print(type(name))

Darshan
<class 'str'>

In [ ]:
name = 'd'
print(name)
print(type(name))

d
<class 'str'>

In [ ]:
# Write a program to accept three numbers from the user 
# and display the largest number.

a = int(input("Enter the 1st number:"))
b = int(input("Enter the 2nd number:"))
c = int(input("Enter the 3rd number:"))

if a>b:
  if a>c:
    print(a,"is the largest")
  else:
    print(c,"is the largest")
elif b>c:
  print(b,"is the largest")

Enter the 1st number:11
Enter the 2nd number:44
Enter the 3rd number:666

# Happy Learning

In [ ]:
# Factorial of a Number

import math as m
m.factorial(5)

120

In [ ]:
import math
math.sin(90)

0.8939966636005579

In [ ]:
math.factorial(7)

5040

initialization
while condition:
  do this
  do this
  increment / decrement

In [ ]:
# Reverse a number in python

n = int(input())
copy = n
remainder = 0
rev = 0
while n!=0:
  remainder = n%10
  rev = (rev * 10) + remainder
  n = n//10

print("Reverse of",copy,"is",rev)

123
Reverse of 123 is 321

In [ ]:
13/2

6.5

In [ ]:
# Quotient
13//2 # Floor Division

6

In [ ]:
# Remainder

13%2 # Modulo

1

In [ ]:
# Natural Numbers from 1 to 20

i = 1
while i<=20:
  print(i, end=" ")
  i = i+1 # i++ does not exist in Python

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
# Natural Numbers from 1 to 20

i = 1
while i<=20:
  print(i)
  i = i+1 # i++ does not exist in Python

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Happy Learning

In [ ]:
def abc():
  print("Hi from abc")
  print("Leaving abc")

abc()

Hi from abc
Leaving abc

In [ ]:
print("Hi from main")
print("I am roaming in main")
abc()
print("Back to main")
print("End of the code")

Hi from main
I am roaming in main
Hi from abc
Leaving abc
Back to main
End of the code

In [ ]:
for i in range(10):
  abc() # This will call abc 10 times

Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc
Hi from abc
Leaving abc

In [ ]:
#  WAP to check if a number is Palindrome or not using functions.

def reverse_no(n):
  rev = 0
  while n!=0:
    remainder = n%10
    rev = rev*10 + remainder
    n = n//10

  return rev

n = int(input("Enter the number to be checked for Palindrome:"))
rev = reverse_no(n)
if n==rev:
  print(n,"is a Palindrome")
else:
  print(n,"is not a Palindrome")

Enter the number to be checked for Palindrome:1234321
1234321 is a Palindrome

# Happy Learning

In [ ]:
for i in range(25):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [ ]:
for i in range(2,12):
  print(i, end=" ")

2 3 4 5 6 7 8 9 10 11

In [ ]:
for i in range(2,12,2):
  print(i, end=" ")

2 4 6 8 10

In [ ]:
# Write C Program to print Perfect numbers between 1 to 10000.

for check in range(1,10001):
  sum=0
  i=1
  while i<=check//2:
    rem = check%i
    if rem==0:
      sum = sum+i
    i = i+1

  if sum==check:
    print(check,"is a Perfect Number")

6 is a Perfect Number
28 is a Perfect Number
496 is a Perfect Number
8128 is a Perfect Number

In [ ]:
5/2

2.5

In [ ]:
5//2

2